*{
    padding: 0%;
    margin: 0px;
}
.header{
    background-color: black;
    height:100px;
    color: white;
       text-align: center;
     padding-top: 25px;
   
}
.header h3{
    color: gray;
    cursor: grab;
}

.header h3:hover{
    color: rgb(255, 255, 255);
}

.menu{
    width: 220px;
    display:inline-block;
    border:5px solid black;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.menu button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
}


.food{
    padding: 30px;
    margin-left: 200px;
    gap: 60px;
    
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    
}
.block{
    display: inline-block;
   
}
.edit{
    width: 600px;
    background-color: yellow;
    text-align: center;
    padding: 6px;  
}

.footer h1{
    padding-bottom: 15px;
}